 p {
     color: green;
 } 
 
 .coffeeType {
    color: green; 
 }
 #siteHeader {
     color: green;
 }
 
 .coffeetype a {
 
     color: red;
 }
 
 a:link {
 color: blue;}
 
 a:visited {
     color: purple;
 }
 